<!DOCTYPE html>
<html>

<head>
	<!-- Meta data -->
	<title><%= full_title(yield(:title)) %></title>
	
	<%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
	<div id="container">
		<a name="top"></a>
		<!-- Navigation panel for the logo and menu options along the top -->
		<div id="navigation">
			<div id="logo">
				<a href="index.html"><img src="images/dwellNV.png" height="125" width="275"></a></img>
			</div>
			
			<!-- Fixed menu at the top of the screen -->
			<div id="menu">
				<ul class="navoptions">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="listings.html">Listings</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="renobb.html">Reno's Best Buys</a></li>
				</ul>
			</div>
			
			<!-- Scrolling menu -->
			<div id="scrollmenu">
				<ul class="scrolloptions">
					<li><a href="#">Top</a></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Listings</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	
		<!-- Main wrapper for the articles -->
		<div id="content">
			
			<!-- View panel for the splash image -->
			<div id="splash">
				<img src="images/balloon.jpg"></img>
			</div>
			
			<div id="sectionbanner">
				<p class="goldtext">
					Our Mission
				</p>
			</div>
			
			<!-- Article -->
			<div id="article">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed malesuada tortor. Quisque elementum tincidunt erat ut placerat. Integer fermentum neque ut justo venenatis sollicitudin. Nulla vestibulum tortor ipsum, ut semper purus molestie at. Quisque lacinia odio ac risus facilisis, sed convallis diam aliquet. Proin molestie pulvinar augue fringilla lacinia. Duis porta tortor ut tortor lobortis, et sagittis quam eleifend. Suspendisse malesuada libero a tortor malesuada iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas tristique scelerisque finibus. Cras eget risus dui. Mauris dictum vulputate diam, nec lacinia nibh vehicula vitae. Mauris lobortis volutpat auctor. Sed faucibus viverra lorem non vestibulum.
				</p>
			</div>
			
			<div id="sectionbanner">
				<p class="goldtext">
					Our Team
				</p>
			</div>
			
			<!-- Wrapper for the team panel -->
			<div id="team">
				<div id="teammember">
					<img src="images/mward.png"></img>
				
					<h2>
						Michelle Ward
					</h2>
					
					<p>
						Duis massa leo, auctor sit amet vestibulum ut, porttitor id odio. Donec congue finibus nisl, posuere ultricies magna ultricies vitae. Proin eget sollicitudin nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tempus egestas placerat. Aenean posuere, massa a convallis malesuada, nunc augue sodales felis, eu finibus est sem cursus nisi. Donec sodales quam ligula, eu efficitur mauris tempor ac. Donec ultrices molestie tincidunt. Pellentesque sed lorem id arcu aliquet rutrum. Nullam laoreet faucibus metus, eget imperdiet sapien vestibulum non. Integer id ex ut urna egestas lobortis. Vestibulum ornare, felis quis facilisis imperdiet, augue neque efficitur mauris, ac aliquet odio dolor id diam. Cras ut pretium arcu, ut condimentum nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					</p>
				</div>
			</div>
			
			<div id="sectionbanner">
				<p class="goldtext">
					Contact Us Today!
				</p>
			</div>
			
			<!-- Wrapper for the contact panel -->
			<div id="contact">
				<div id="contacttext">
					<ul>
						<li>Phone: (775) 830-6036</li>
						<li>Address: 4950 Kietzke Lane STE #302-A, Reno, NV 89509</li>
						<li>Email: michelle@dwellNV.com</li>
					</ul>
				</div>
				
				<!-- Media icons -->
				<div id="media">
					<ul>
						<li>
							<a href="#">
								<img src="images/twitter.png"></img>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="images/facebook.png"></img>
							</a>
						</li>
						
						<li>
							<a href="#">
								<img src="images/instagram.png"></img>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</div>
		
		<!-- Footer -->
		<div id="foot">
			<div id="footmenu">
				<ul class="navoptions">
					<li><a href="#top">Top</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="listings.html">Listings</a></li>
					<li><a href="contact.html">Contact</a></li>
					<li><a href="renobb.html">Reno's Best Buys</a></li>
				</ul>
			</div>
			
			<div id="footinfo">
				<p>dwellNV &copy; 2016 Michelle Ward </p>
			</div>
		</div>
	</div>
</body>

</html>