<h1>Greetings, <%= @user.name %>,</h1>

<p>Welcome to dwellNV!</p>

<p>To get started, you need to activate your account with the link below:
<br>
<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
</p>

<p>
Your account will keep track of your favorite listings, provide contact for one
of our amazing realtors, and keep you up to date on the market.
</p>

<p>
From the team at dwellNV,
</p>
<h2>
Thank you, and Welcome Home!
</h2>
<img src="https://dwellnvrails.herokuapp.com/assets/dwellNV-f783f4e047245a28d06eba6a8b54283654bcf54dc4c6831519c56d44455e3867.png" 
            style="width:275px;height:125px;"></img>
<br>
Please do not reply to this email address.