<% provide(:title, "User Profile") %>

<div id="content">
    
	<div id="sectionbanner">
		<p class="goldtext">
			<%= @user.name %>
		</p>
	</div>
	
	<div id="article">
		<!-- Add user information when refined -->
		<h2>
			Primary Phone:
		</h2>
		<p>
			<%= @user.primary_phone %>
		</p>
	</div>
	
	<div id="sectionbanner">
		<p class="goldtext">
			Favorite Listings
		</p>
	</div>
	
	<!-- Article -->
	<div id="article">
		<!-- Add user's listings when finished -->
	</div>
    
</div>