<% provide(:title, "User Profile") %>

<div id="content">
    
	<div id="sectionbanner">
		<p class="goldtext">
			<%= @user.name %>
		</p>
	</div>
	
	<!-- Article -->
	<div id="article">
		<p>
            <%= @user.email %>
		</p>
	</div>
    
</div>