<a name="top"></a>
<!-- Navigation panel for the logo and menu options along the top -->
<div id="navigation">
	<div id="logo">
		<%= link_to image_tag("dwellNV.png", alt: "Welcome Home", width: 275, height: 125), '#' %>
	</div>
	
	<!-- Fixed menu at the top of the screen -->
	<div id="menu">
		<ul class="navoptions">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About Us</a></li>
			<li><a href="listings.html">Listings</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li><a href="renobb.html">Reno's Best Buys</a></li>
		</ul>
	</div>
	
	<!-- Scrolling menu -->
	<div id="scrollmenu">
		<ul class="scrolloptions">
			<li><a href="#">Top</a></li>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Listings</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
</div>